@import "../../_Base/media-query";

.footer-container {
  color: #eee;
  
}
@include mediaQuery("sm") {
  .footer-container {
    color: red;
    transform: scaleY(1);
  }
}

@include mediaQuery("md") {
  .footer-container {
    color: black;
  }
}
