<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% block title %}
  <title>mywebsite</title>
  {% endblock %}


  <!-- 页面自己的css域 -->
  {% block self_css %}{% endblock %}

  {% block js %}{% endblock %}

</head>

<body>
  {% include "layout/components/header.html" %}

  <!-- main域 -->
  {% block main %}
  <main class="main-container">
    {% block section %}
    <section>
      i'm main section
    </section>
    {% endblock %}
  </main>
  {% endblock %}

  {% block aside %}
  {% include "layout/components/aside.html"%}
  {% endblock %}

  {% block footer %}
  {% include "layout/components/footer.html" %}
  {% endblock %}

  <!-- 页面自己的js域 -->
  {% block selfJs %}{% endblock %}
</body>

</html>
